body {
    font-size: 15pt;
    background-color:#000000;
    margin: 0px;
    overflow-y: auto;
    color: #FFFFFF;
}
#firstr{
  display:flex;
  overflow-x: hidden;
}
#nam{
  background: url("/resources/IMG-20250427-WA0003.jpg");
  height: 50px;
  width: 90px;
  background-size: 90px 50px;
}
#bot{
  height:30px;
  width:100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 95%;
  display: flex;
}
#home{
  height:20px;
  width:20px;
  background: url('/resources/images.png');
  background-size: 100% 100%;
  margin-top: 2px;
  border-width: 0;
}
#search{
  height:20px;
  width:20px;
  background: url('/resources/search2.png');
  background-size: 100% 100%;
  margin-left: 60px;
  margin-top: 2px;
  border-width: 0;
}
#add{
  height:20px;
  width:20px;
  background: url('/resources/add.png');
  background-size: 100% 100%;
  margin-left: 70px;
  margin-top: 2px;
  border-width: 0;
}
#video{
  height:20px;
  width:20px;
  background: url('/resources/videoicon.png');
  background-size: 100% 100%;
  margin-left: 80px;
  margin-top: 2px;  
  border-width: 0;
}
#parent{
  display: flex;
}
#recent{
  background-color: #28282B;
  height:94vh;
  width:45vw;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
}
#sbu{
  width: 90%;
  margin-top: 6px;
  text-align: left;
  font-size: 27px;
  background-color: #000000;
  color: #FFFFFF;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-width:0;
  overflow-x: auto;
}
#result{
  background-color: #28282B;
  height:94vh;
  width:50vw;
  position: relative;
  left:46vw;
  top:-97vh;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: block;
  margin-left: 4px;
  overflow-y: auto;
}
#prb{
  height:100%;
  width:100%;
  border-radius: 10px;
}
#prph{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
#top{
  display: flex;
  color: #FFFFFF;
}
#firstrow{
  display: flex;
  gap: 10px;
  
}

#back{
  background: url("/resources/back.png");
  height:40px;
  width:40px;
  background-size: cover;
  border-width: 0px;
}
#logout{
  background: url('/resources/logout.png');
  position: relative;
  left: 78%;
  height: 40px;
  width: 40px;
  background-size: cover;
  border-width: 0;
}
#namm{
  position: relative;

  margin:0;
}
#pic{
  background-color: #FFFFFF;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#updy{
  border: 1px solid #FFFFFF;
  margin: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #0015FFD9,#B54141);
}
#upn{
  margin: 8px;
  margin-top: 19px;
  border-radius: 30px;
  width: 80%;
  font-size: 30px;
}
#subb{
  background-color: #6400FF;
  width:80%;
  margin: 8px;
  color: #ffffff;
  border-radius: 20px;
  border-width:30x;
  border-color: #ffffff;
}

#nap{
  display: block;
}
#prof{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 0;
  margin-left: 50px;
  margin-top: 2px;
  background-color: #000000;
}
#con{
  display:block;
  text-align: center;
  color: #FFFFFF;
  background-color: #232224AB;
  margin-left: 9px;
  margin-right: 9px;
  border-radius: 20px;
  
  position:relative;
  top:120px;
  animation: slide 1s ease-out, changecolor 4s infinite alternate;
}
#user{
  margin:7px;
  border-radius: 20px;
  animation: changecolor 4s infinite alternate ;
}
#pass{
  margin:7px;
  border-radius: 20px;
  animation: changecolor 4s infinite alternate ;
}
#n{
  margin:7px;
  border-radius: 20px;
  animation: changecolor 4s infinite alternate ;
}
#nnu{
  margin:7px;
  border-radius: 20px;
  animation: changecolor 4s infinite alternate ;
}
#sub{
  margin:7px;
  border-radius: 20px;
  display: block;
  width:185px;
  margin-left:75px;
  border: 2px solid white;
  background-color: #0015FA;
  color:white;
  font-size: 20px;
}
#prpic{
  width:100px;
  height: 100px;
  border-radius: 50%;
}
@keyframes slide{
  0%{
    transform: translateY(120px) ;
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes changecolor{
  0%{
    border: 2px solid #9E53FF;
  }50%{
    border: 2px solid #886FFF;
  }75%{
    border: 2px solid #5734FF;
  }100%{
    border: 2px solid #340AFE;
  }
}